#
# https://help.github.com/articles/dealing-with-line-endings/
#

# Set the default behavior, in case people don't have core.autocrlf set.
*               text=auto

*.properties    text
*.jar           binary
*.md            text
*.kt            text
*.kts           text

# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
